
main {
    display: flex;
    flex-direction: column;
    margin: 0 70px;
    padding: 20px 0;
    gap: 10px;
    width: 93%;
}

#submit {
    background: rgb(37, 54, 151);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    width: 15%;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 20%;
    height: 100%;
    padding: 20px;
}

.item_4 {
    margin-top: 30px;
}

.item_5 {
    display: flex;
    background-color: blanchedalmond;
    width: 73%;
    height: 100vh;
}

.container {
    display: flex;
    gap: 30px
}

table {
    width: 100%;
    border-collapse: collapse;
}


thead {
    background-color: rgb(182, 180, 180);
}


td,
th {
    text-align: center;
    padding: 1em 0;
}

.col-1 {
    width: auto;
}

.col-2 {
    width: 17%;
}

.col-3 {
    width: 17%;
}

.col-4 {
    width: 17%;
}

.col-5 {
    width: 17%;
}

.col-6 {
    width: 17%;
}

td>a {
    list-style: none;
    background-color: rgb(90, 90, 252);
    color: black;
}

.s {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    color: rgb(82, 82, 255);
    color:black;
}
.v{
    color:rgb(63, 63, 194);
    font-weight: 800;
    font-size: 14px;
}